@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family: Roboto;
    box-sizing: border-box;
}

.header, .footer {
    background-color: #1F2937;
    font-size: 18px;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.container {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    transition: 0.5s;
}

a:hover {
    opacity: 0.7;
}

.hero {
    width: 50%;
    padding: 80px 0px;
}

.image {
    width: 50%;
    padding: 80px 0px;
}

.image img {
    width: 100%;
    height: auto;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.title-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border: none;
    padding: 8px 35px;
    margin: 10px 0px;
    color: white;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 550;
}