@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family: Roboto;
}

.header, .footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    font-size: 18px;
    color: #E5E7EB; 
}

.header {
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    transition: 0.5s;
}

a:hover {
    opacity: 0.7;
}