@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family: Roboto;
    box-sizing: border-box;
}

/* HEADER */

.header {
    background: url(/images/header-bg.png) no-repeat center;
    background-size: cover;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.container-header {
    font-size: 18px;
    display: flex;
}

.logo {
    width: 50px;
    padding: 20px;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    transition: 0.5s;
    border-bottom: 1px solid white;
}

a:hover {
    opacity: 0.7;
}

.container-header {
    width: 54vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.hero {
    padding: 100px 0px;
    width: 25vw;
}

h1 {
    font-size: 40px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 5px;
}

.title-text {
    color: #E5E7EB;
}

.header-image {
    width: auto;
    height: 25vh;
    border-radius: 10px;
}

button {
    background-color: #FF8E27;
    border: none;
    padding: 8px 35px;
    margin: 15px 0px;
    color: white;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 550;
    cursor:pointer;
    white-space: nowrap;
    transition: 0.5s;
}

button:hover {
    background-color: #df7e25;
}

/* BUILD */

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 100px 0px;
    gap: 30px;
}

.information {
    display: flex;
    width: 54vw;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 0px 0px 30px 0px;
}

.box {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    width: 168px;
    gap: 5px;
}

.box img {
    align-self: center;
    border-radius: 12px;
    margin-bottom: 10px;
    border: 2px solid #0F2A1D;
    padding: 5px;
}

/* IMAGE */

.banner {
    background: url(/images/banner.jpg) no-repeat bottom right;
    width: 100%;
    height: 700px;
}

/* QUOTE */

.content-quote {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    background-color: #E5E7EB;
    gap: 100px;
}

.information-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 41vw;
}

.quote {
    display: flex;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    text-align: left;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: right;
}

/* GAMES */

.call {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 18px;
    background-color: #2a6448;
    width: 41vw;
    padding: 45px 120px;
    border-radius: 10px;
    gap: 50px;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0px;
}

.games {
    display: flex;
    width: 54vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
}

.box-game {
    display: flex;
    flex-direction: column;
    width: 168px;
    gap: 5px;
}

.box-game img {
    border-radius: 8px;
}

/* FOOTER */

.footer {
    background-color: #0F2A1D;
    justify-content: center;
    padding: 30px;
    color: #F9FAF8;
    font-size: 18px;
    display: flex;
}