@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family: Roboto;
    box-sizing: border-box;
}

.header, .footer, .container-header {
    background-color: #1F2937;
    font-size: 18px;
    display: flex;
}

.header {
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.container-header {
    width: 54vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.footer {
    justify-content: center;
    padding: 30px;
    color: #F9FAF8;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 100px 0px;
    gap: 30px;
}

.information {
    display: flex;
    width: 54vw;
    justify-content: center;
    gap: 50px;
}

.content-quote {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    background-color: #E5E7EB;
}

.information-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 41vw;
}

.call {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 18px;
    background-color: #3882F6;
    width: 41vw;
    padding: 45px 120px;
    border-radius: 10px;
}

.action {
    font-size: 24px;
    font-weight: bold;
}

.quote {
    display: flex;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    text-align: left;
}

.author {
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    margin-right: 40px;
}

.box {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    width: 168px;
    text-align: center;
    gap: 5px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    transition: 0.5s;
}

a:hover {
    opacity: 0.7;
}

.box img {
    align-self: center;
    border-radius: 10px;
}

.hero {
    padding: 100px 0px;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.title-text {
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border: none;
    padding: 8px 35px;
    margin: 15px 0px;
    color: white;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 550;
    cursor:pointer;
}

.callb {
    border: 2px solid white;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 0px 0px 30px 0px;
}