@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family: Roboto;
}

.header, .footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    font-size: 18px;
    color: #E5E7EB; 
}